

*{
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
html{
   --primary-color : radial-gradient(circle,  rgba(148,187,233,1) 0%, #213555 100%);
   --secondary-color : #D9EAFD;
   --primary-box-shadow : 0 0 5px 4px white;
}

body{
  background: var(--primary-color);
 

}

.loginMainDiv,.signUpMainDiv{
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: var(--primary-color);
}

.loginBox h1{
  font-family: "Tourney", sans-serif;
  /* font-size: larger; */
  font-weight: 700;
  font-size: 50px;
}


.signUpBox h1{
  text-align: center;
  font-family: "Tourney", sans-serif;
  font-weight: 700;
  font-size: 50px;
}


.loginBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
  padding: 2.5rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  max-width:400px;
  width: 100%;
}
.signUpBox{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  box-shadow: var(--primary-box-shadow);

  padding: 2rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  max-width:400px;
  width: 100%;
}


.loginBox button{
  width: 100%;
  border-radius: 12px;
  padding: 0.4rem;
  border: 1px solid black;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.signUpBox button{
  /* width: 100%;
  border-radius: 12px;
  padding: 0.4rem;
  background: var(--primary-color) */
  width: 100%;
  border-radius: 12px;
  padding: 0.4rem;
  border: 1px solid black;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.signUpBox input{
  padding: 0.5rem;
  border-radius: 12px;
}
.loginBox input{
  padding: 0.5rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  width: 100%;
  height: 40px;
}

.loginBox form{
  width: 100%;
}

.signUpBox input{
  margin-bottom: 1rem;
  cursor: pointer;

}
.loginBox #password{
  margin-bottom: 0;

}

.loginBox .forgetMessage{
  width: 100%;
  margin-top: 0.1rem;
  font-size: 0.7rem;
  color: blue;
  text-align: right;
}

.loginBox label{
  font-weight: bold;
  width: 100%;

}
.signUpBox label{
  font-weight: bold;
  width: 100%;

}


.loginBox .signUpMessage{
  margin-top: 1rem;
  text-decoration: none;
  text-align: center;
}
.signInLink{
  margin-top: 1rem;
  text-decoration: none;
}

.homePage{
width: 100vw;
height: 100vh;
background: var(--primary-color);
display: flex;
align-items: center;
justify-content: center;
}

.homeContent{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center; 
  box-shadow: var(--primary-box-shadow);
  padding: 4rem;
  background-color: var(--secondary-color);
  max-width: 400px;
  width: 100%;
}

.welcomeText{
  font-family: sans-serif;
  color: #0D5B11;
}

.homeLogo{
  max-width: 200px;
  width: 100%;
}

.homeLogo img{
  width: 100%;
}


.homePage .startQuizButton{
  width: 100%;
  border-radius: 12px;
  padding: 0.4rem;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.quizPage{
  width: 100vw;
  height: 100vh;
  padding: 1rem;
overflow-x: hidden;
 
  
}

.quizContainer{
  max-width: 700px;
  margin-inline: auto;
  /* height: calc(100% - 70px ) */
}

.quizPage .quizLogo{
  width: 150px;
}

.quizHeader{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  padding-left: 1rem;
  /* padding-right: 0.3rem; */
  box-shadow: 0 0 5px 4px rgba(148,187,233,1);
  border-radius: 12px;
}

.quizeHeader2{
  padding-inline: 1rem;
}

.quizContainer .questionContainer{
  /* margin-top: 70px; */
  width: 100%;
  height: 70px;
  border: 3px solid var(--secondary-color);
  box-shadow:  0 0 5px 4px rgba(148,187,233,1);
  background-color: white;
  padding-inline: 0.5rem;
  border-radius: 12px;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: start;
  padding-left: 2rem;
  font-size: 1.1rem;
}

.answerContainer{
  margin-top: 1.7rem;
  width: 100%;
  /* background-color: #fff; */
}

.answerContainer .options{
  background-color: var(--secondary-color);
  margin-bottom: 2rem;
  padding: 1rem;
  /* border: 2px solid black; */
  border-radius: 12px;
  cursor: pointer;
  box-shadow: var(--primary-box-shadow);
  font-size: 1.05rem;
  margin-left: 0.5rem;
}


.answerContainer .correct{ 
  background-color: rgb(24, 232, 24);
  color: white;

}
.answerContainer .wrong{ 
  background-color: red;
  color: white;

}
.timerContainer{
  width: 100%;
  /* border: 1px solid black; */
  padding: 0;
  margin-block: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.quizTimer{

  width: max-content;
  border: 3px solid white;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
  background-color:#FFCF50;
  border-radius: 12px;

}

.numOfQuestion{
  width: max-content;
  border: 3px solid black;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
  background-color:white;
  border-radius: 12px;
  color: black;
}


.questionNumberContainer{
  width: 100%;
  /* border: 1px solid black; */
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

.quizContainer .nextButtonDiv{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.quizContainer .nextButton{
  cursor: pointer;
  max-width: 150px;
 height: 50px; 
 width: 100%;
 font-size: larger;
  border-radius: 12px;
  padding: 0.4rem;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  text-align: center;
  height: 40px;
  background: var(--primary-color)
}

.nextButton:hover{
  border: 3px solid #5D8736;
  color: #5D8736;
  background-color: #F4FFC3;
}


.loaderMain{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: auto;

}

.loader{
  width: 50px;
  height: 50px;
  background-color: rgb(249, 249, 244);
  border-radius: 100%;
  border: 10px solid rgb(183, 183, 201);
  border-top-color: yellow;
  animation: spin 2s linear infinite;

}

@keyframes spin {

  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  
}


.resultPage{
  /* width: 100vw; */
  
margin-top: 3rem;
}


.result-container{
  width: max-content;
  margin-inline: auto;
  box-shadow: 0 0 3px 4px white;
  padding: 2rem;
  background-color: rgba(148,187,233,1);
  text-align: center;
  color: white;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-container h2{
  text-align: center;
  font-family: "Tourney", sans-serif;
  /* font-weight: 700; */
  font-size: 30px;
}

form{
  display: flex;
  flex-direction: column;
}



.selectOptionAlert{
  color: red;
  text-align: end;
  opacity: 0;
}

.visible{
  opacity: 1;
}

.notVisible{
  opacity: 0;
}