*{
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
html{
  --primary-color : linear-gradient(to right, #5D8736,#F4FFC3);
}

body{
  background: var(--primary-color);
}

.loginMainDiv,.signUpMainDiv{
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: var(--primary-color);
}

.loginBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 10px;
  background-color: #fff;
}
.signUpBox{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  border: 1px solid black;
  padding: 2rem;
  border-radius: 10px;
  background-color: #fff;
}

.toHomeLink{
  width: 100%;
  border-radius: 12px;
  padding: 0.4rem;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  text-align: center;
  background: var(--primary-color)
}

.signUpBox input{
  padding: 0.5rem;
  border-radius: 12px;
}
.loginBox input{
  padding: 0.5rem;
  border-radius: 12px;
}

.loginBox input{
  margin-bottom: 1rem;

}
.signUpBox input{
  margin-bottom: 1rem;
  cursor: pointer;

}
.loginBox #password{
  margin-bottom: 0;

}

.loginBox .forgetMessage{
  width: 100%;
  margin-top: 0.1rem;
  font-size: 0.7rem;
  color: blue;
  text-align: right;
}

.loginBox label{
  font-weight: bold;
  width: 100%;

}
.signUpBox label{
  font-weight: bold;
  width: 100%;

}

/* .loginBox Link{
  width: 100%;
  border-radius: 12px;
  padding: 0.4rem;
  text-align: center;
  background: var(--primary-color)
} */
.signUpBox button{
  width: 100%;
  border-radius: 12px;
  padding: 0.4rem;
  background: var(--primary-color)
}

.loginBox .signUpMessage{
  margin-top: 1rem;
  text-decoration: none;
  text-align: center;
}
.signInLink{
  margin-top: 1rem;
  text-decoration: none;
}

.homePage{
width: 100vw;
height: 100vh;
background: var(--primary-color);
display: flex;
align-items: center;
justify-content: center;
}

.homeContent{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center; 
  box-shadow: 0 0 5px 4px #809D3C;
  padding: 4rem;
}

.welcomeText{
  font-family: sans-serif;
  color: #0D5B11;
}

.homeLogo{
  max-width: 200px;
  width: 100%;
}

.homeLogo img{
  width: 100%;
}

.homePage .startQuizButton{
  width: 200px;
  border: 1px solid green;
  padding: 1rem;
  font-size: 1.5rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  background-color: #5D8736;
  text-decoration: none;
}

.quizPage{
  width: 100vw;
  height: 100vh;
  padding: 1rem;
overflow-x: hidden;
 
  
}

.quizContainer{
  max-width: 700px;
  margin-inline: auto;
  /* height: calc(100% - 70px ) */
}

.quizPage .quizLogo{
  width: 150px;
}

.quizHeader{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 5px 4px #809D3C;
  border-radius: 12px;
}

.quizContainer .questionContainer{
  /* margin-top: 70px; */
  width: 100%;
  border: 3px solid #809D3C;
  background-color: #F4FFC3;
  padding-inline: 0.5rem;
  border-radius: 12px;
}

.answerContainer{
  margin-top: 3rem;
  width: 100%;
  /* background-color: #fff; */
}

.answerContainer .options{
  background-color: #F4FFC3;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 12px;
  cursor: pointer;
}


.answerContainer .correct{ 
  background-color: rgb(24, 232, 24);
  color: white;

}
.answerContainer .wrong{ 
  background-color: red;
  color: white;

}
.timerContainer{
  width: 100%;
  /* border: 1px solid black; */
  padding: 0;
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
.quizTimer{
 
  width: max-content;
  border: 3px solid white;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
  background-color:#FFCF50;
  border-radius: 12px;

}

.numOfQuestion{
  width: max-content;
  border: 3px solid white;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
  background-color:#809D3C;
  border-radius: 12px;
  color: white;
}


.questionNumberContainer{
  width: 100%;
  /* border: 1px solid black; */
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

.quizContainer .nextButtonDiv{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.quizContainer .nextButton{
  /* padding: 0.8rem 1.5rem; */
  cursor: pointer;
   max-width: 100px;
  height: 50px; 
  width: 100%;
  font-size: larger;
  border-radius: 12px;
  background-color:#809D3C;
  color: white;
  border: 3px solid white;
}

.nextButton:hover{
  border: 3px solid #5D8736;
  color: #5D8736;
  background-color: #F4FFC3;
}


.loaderMain{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: auto;

}

.loader{
  width: 50px;
  height: 50px;
  background-color: rgb(249, 249, 244);
  border-radius: 100%;
  border: 10px solid rgb(183, 183, 201);
  border-top-color: yellow;
  animation: spin 2s linear infinite;

}

@keyframes spin {

  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  
}


.resultPage{
  /* width: 100vw; */
  
margin-top: 3rem;
}


.result-container{
  width: max-content;
  margin-inline: auto;
  box-shadow: 0 0 3px 4px #809D3C;
  padding: 2rem;
  background-color: #F4FFC3;
  text-align: center;
  color: #3E7B27;
}

form{
  display: flex;
  flex-direction: column;
}



.selectOptionAlert{
  color: red;
  text-align: end;
  opacity: 0;
}

.visible{
  opacity: 1;
}

.notVisible{
  opacity: 0;
}